<section class="container">
  <div id="div-left">

    <img src="../../../assets/img/signup.svg" alt="">

  </div>

  <div id="div-right">

        <h4 class="text-center"> Register to embrace a new world!</h4>

        <form #form="ngForm" [formGroup]="signupForm" (submit)="signup()" class="form mt-4">
            <div class="form-group mb-3">
                <input formControlName="email" placeholder="Email" class="form-control" autofocus >
                <app-vmessage
                      *ngIf="signupForm.get('email').errors?.required && (signupForm.get('email').touched || form.submitted)"
                      text="Email is required!">
                </app-vmessage>
                <app-vmessage
                      *ngIf="signupForm.get('email').errors?.email && (signupForm.get('email').touched || form.submitted)"
                      text="Email is invalid!">
                </app-vmessage>
            </div>

            <div class="form-group mb-3">
                <input formControlName="fullName" placeholder="Full name" class="form-control">
                <app-vmessage
                      *ngIf="signupForm.get('fullName').errors?.required && (signupForm.get('fullName').touched || form.submitted)"
                      text="Fullname is required!">
                </app-vmessage>
                <app-vmessage
                      *ngIf="signupForm.get('fullName').errors?.minlength && (signupForm.get('fullName').touched || form.submitted)"
                      text="Minimun is 10!">
                </app-vmessage>
                <app-vmessage
                      *ngIf="signupForm.get('fullName').errors?.maxlength && (signupForm.get('fullName').touched || form.submitted)"
                      text="Maximum length is 40!">
                </app-vmessage>
            </div>

            <div class="form-group mb-3">
                <input formControlName="userName" placeholder="User name" class="form-control">
                <app-vmessage
                      *ngIf="signupForm.get('userName').errors?.required && (signupForm.get('userName').touched || form.submitted)"
                      text="Username is required!">
                </app-vmessage>
                <app-vmessage
                      *ngIf="signupForm.get('userName').errors?.minlength && (signupForm.get('userName').touched || form.submitted)"
                      text="Minimun is 6!">
                </app-vmessage>
                <app-vmessage
                      *ngIf="signupForm.get('userName').errors?.maxlength && (signupForm.get('userName').touched || form.submitted)"
                      text="Maximum length is 40!">
                </app-vmessage>
                <app-vmessage
                      *ngIf="signupForm.get('userName').errors?.lowerCase && (signupForm.get('userName').touched || form.submitted)"
                      text="Must be lowercase!">
                </app-vmessage>
                <ap-vmessage
                      *ngIf="signupForm.get('userName').errors?.userNameTaken"
                      text="Username already taken">
                </ap-vmessage>
                <small *ngIf="signupForm.get('userName').valid" class="text-success">User available</small>
            </div>

            <div class="form-group mb-3">
                <input formControlName="password" type="password" placeholder="Password" class="form-control">
                <app-vmessage
                      *ngIf="signupForm.get('password').errors?.required && (signupForm.get('password').touched || form.submitted)"
                      text="Password is required!">
                </app-vmessage>
                <app-vmessage
                      *ngIf="signupForm.get('password').errors?.minlength && (signupForm.get('password').touched || form.submitted)"
                      text="Minimun is 8!">
                </app-vmessage>
                <app-vmessage
                      *ngIf="signupForm.get('password').errors?.maxlength && (signupForm.get('password').touched || form.submitted)"
                      text="Maximum length is 16!">
                </app-vmessage>
                <app-vmessage
                      *ngIf="signupForm.errors?.userNamePasswordValidator"
                      text="Username and password must be different">
                </app-vmessage>
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-primary btn-block">Register</button>
            </div>
            <p>Already a user?<a [routerLink]="['']"> Sign In!</a></p>
        </form>
  </div>
</section>



