header {
  -webkit-box-shadow: 2px 22px 29px -9px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 2px 22px 29px -9px rgba(0, 0, 0, 0.36);
  box-shadow: 2px 22px 29px -9px rgba(0, 0, 0, 0.36);
}

.exit{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  border-radius: 2px;
  background-color: #0954c5;
  height: 40px;
  width: 40px;
  cursor: pointer;
  text-decoration: none;
  transition: 400ms;
}

.exit:hover{
  filter: brightness(1.1);
}

.exit i{
  color: white;
}



.flex{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}

.flex a{
  text-decoration: none;
}
