<div class="container">
  <div class="bg-white border" *ngIf="(photo$ | async) as photo">
    <div class="row">
      <div class="col-lg-6">
        <app-photo [url]="photo.url" [description]="photo.description"></app-photo>
      </div>

      <div class="col-lg-5 p-4 ">

        <small>
          <p class="text-left break-word">{{photo.description}}</p>
            <div class="text-center">
              <div class="bar-icons" >
                <i (click)="like(photo)"  class="fa fa-heart-o fa-2x pull-left"> {{ photo.likes }} </i>
                <i class="fa fa-comment-o fa-2x "> </i>
                <i photoOwnerOnly [ownedPhoto]="photo" class="fa fa-trash-o fa-2x pull-right" (click)="remove()"></i>
              </div>
          </div>
          <hr>
        </small>

        <app-photo-comments
          *ngIf="photo.allowComments; else warning"
          [photoId] = "photoId" >
        </app-photo-comments>

        <ng-template #warning>
          <p>User has disabled comments for this photo</p>
        </ng-template>

      </div>
    </div>
  </div>
</div>
